img{
	width: 100px;
	height: 100px
}

body{
     background-image: url("../../assets/images/battlestar_backround_3.jpg");
     background-size: 1382px 650px;


}


h1,h2{
	color: crimson;}


header{
     border: red solid 4px;
     text-align: center;
     margin-left: 500px;
     margin-right: 500px;
}

#starbuck_original{
	/* border: red solid 4px;*/
	 float: left;
}

#starbuck_new{
	 /*border: red solid 4px;*/
	 float: left;
}

#cylon_original{
	 /*border: red solid 4px;*/
	 float: left;
}

#cylon_new{
	 /*border: red solid 4px;*/
	 float: left;
}
.char_container{
	width: 850px;
	height: 225px;
}

#battle_container{
	border: yellow solid 4px;
	width: 600px;
	height: 400px;
	float:right;


}



.character{
	height: 100px;
	width: 100px;
}
